.danger {
    background-color: #fee2e2;
    color: #991b1b;
}

.success {
    background-color: #dcfce7;
    color: #166534;
}

.warning {
    background-color: #fef3c7;
    color: #92400e;
}

.info {
    background-color: #e0f2fe;
    color: #075985;
}